* {
    border: 1px dotted;
    margin: 0;
    box-sizing: border-box;
}

/* Grid */

.grid {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px;
    grid-auto-rows: 1fr;
    grid-gap: 40px;
}

header {
    grid-column: 1 / 13;
}

.hero-image {
    grid-column: 1 / 5;
    grid-row: 2 / 5;
}

.hero-text {
    grid-column: 1 / 5;
    grid-row: 5 / 8;
}

.intro {
    grid-column: 5 / 9;
    grid-row: 2 / 8;
}

.highlight {
    grid-column: 9 / 13;
    grid-row: 2 / 8;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
}

.header-logo > img {
    height: 100%;
}

.header-logo {
    height: 100%;
}

header menu {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: right;
}

header nav, header li, header a {
    display: flex;
}

header a {
    align-items: center;
}

/* Main */

main {
    display: grid;
    grid-template-columns: subgrid;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

iframe {
    width: 100%;
}